os: linux
dist: focal
language: c

git:
  depth: 3
  quiet: true
  submodules: false

branches:
  only:
  - master

cache:
  directories:
  - $HOME/build/pencil-code/pencil-code/samples/no-modules/src
  - $HOME/build/pencil-code/pencil-code/samples/most-modules/src
  - $HOME/build/pencil-code/pencil-code/samples/backwards-compatible/src
  - $HOME/build/pencil-code/pencil-code/samples/1d-tests/implicit_diffusion/src
  - $HOME/build/pencil-code/pencil-code/samples/2d-tests/chemistry_GrayScott/src
  - $HOME/build/pencil-code/pencil-code/samples/2d-tests/shearwave-dust-par/src
  - $HOME/build/pencil-code/pencil-code/samples/dust-vortex/src
  - $HOME/build/pencil-code/pencil-code/samples/damped_alfven_waves/src
  - $HOME/build/pencil-code/pencil-code/samples/corona/src
  - $HOME/build/pencil-code/pencil-code/samples/helical-MHDturb/src

addons:
  apt:
    update: false

before_install:
  - sudo apt-get install -y gfortran libhdf5-openmpi-dev git-restore-mtime libblas-dev liblapack-dev
  - gfortran --version
  - cd $HOME/build/pencil-code/pencil-code/ && git restore-mtime src/

script:
  - source sourceme.sh
  - pc_auto-test --host-id travis-ci -t --max-level 1 --auto-clean
