/*
***********************************************************************
*                                                                     *
*   This Website Template was created at www.freecssmenus.co.uk       *
*                                                                     *
*   Visit us today to create your own FREE Website Template using     *
*   our FREE Online Website Template Builder.                         *
*                                                                     *
*   www.freecssmenus.co.uk/build                                      *
*                                                                     *
*    DO NOT REMOVE THESE CREDITS!                                     *
*                                                                     *
***********************************************************************
*/
.clear {
	clear: both;
}
p {
	margin: 15px 0px 15px 0px;
}
h1,h2,h3,h4 {
	margin: 10px 0px 15px 0px;
	font-weight: bold;
}
h1 {
	font-size: 28px;
}
h2 {
	color: #26586C;
	font-size: 18px;
}
h3 {
	font-size: 15px;
}
h4 {
	font-size: 14px;
}
em.larger {
	font-size: 15px;
}
.codescroll {
	background-color: #C0E8FF;
	border: 1px dashed #404040;
	padding: 8px 16px 8px 16px;
	margin: 10px 0px 10px 16px;
	overflow-x: auto;
}
code {
	color: #404040;
	white-space: nowrap;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	background-color: #95EFFF;
	margin: 0px;
	padding: 0px;
}
#bodywatermark {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	background: url(images/lightspread1855.png);
	background-repeat: repeat-x;
	background-position: top left;
}
#mcontainer {
	background-color: #FFFFFF;
	padding: 10px;
	border: 5px solid #26586C;
	text-align: left;
}
#mcontainerouter {
	background: url(images/shad50.png);
	background-repeat: repeat;
	max-width: 1100px;
	min-width: 860px; /* sets the minimum width of the page content */
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	height: auto;
	padding: 10px 40px 40px 40px;
	text-align: center;
}
#maincontainershadow {
	height: 60px;
	background: none;
	min-width: 940px; /* = mcontainerouter.min-width + mcontainerouter.padding-left + mcontainerouter.padding-right */
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	margin-top: -10px;
}
#shadowleft {
	overflow: hidden;
	height: 60px;
	background: url(images/reflection_shadow60.png) no-repeat top left;
}
#shadowright {
	width: 450px;
	float: right;
	height: 60px;
	background: url(images/reflection_shadow60.png) no-repeat top right;
}

#header {
	color: #FFFFFF;
	background-color: #136D90;
	border: 2px solid #000000;
	margin-top: -4px;
}
#header h1 {
	margin: 1px 0px 0px 6px;
	padding: 0px 0px 0px 200px;
	color: #FFFFFF;
}
#header h4 {
	margin: 0px 4px 1px 8px;
	padding: 0px 0px 0px 200px;
	color: #909090;
}
#headerpad {
	padding: 5px 10px 5px 10px;
	min-height: 55px;
	margin: 0;
	clear: both;
}
#headerwatermark {
	width: 100%;
	height: 100%;
	background: url(images/waves2709.png);
	background-position: center left;
	background-repeat: no-repeat;
}

li {
	padding-top: 4px;
	padding-bottom: 4px;
}
li.separated {
	padding-top: 10px;
	padding-bottom: 10px;
}

.mmenu {
	background-color: #FFFFFF;
	border: 2px solid #000000;
	position: fixed;
}
.mmenu ul {
	padding: 0;
	margin: 0px;
	list-style-type: none;
}
.mmenu li {
	padding: 0;
}
.mmenu a {
	background: url(images/multicolpng2.png) repeat-x left top;
	background-color: #46A4C7;
	margin: 0px;
	font-size: 13px;
	font-weight: bold;
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	width: 130px; /* determines the width of the menu links */
	padding: 2px 25px 3px 25px;
	line-height: 25px;
}
.mmenu a:hover {
	color: #D02000!important;
	background-color: #95EFFF;
	background: url(images/multicolpng2.png) repeat-x left top;
}
.mmenu a:active {
	color: #D02000!important;
	background-color: #95EFFF;
	background: url(images/multicolpng2.png) repeat-x left top;
}
a.mmenuselect {
	color: #FF8000!important;
}

#leftcolumn {
	min-height: 304px; /* = buttons * a.height + 2 * mmenu.border */
	min-width: 184px; /* = a.width + a.padding-left + a.padding-right + 2 * mmenu.border */
	margin: 6px 16px 0px 0px;
	float: left;
}
.leftcolumnpad {
	clear: both;
	padding: 20px;
	background: url(images/div_dark15.png);
	background-repeat: repeat-x;
	margin: 0;
}

.centcolumn {
	background-color: #FFFFFF;
	margin-left: 0px;
	margin-top: 6px;
	border: 2px solid #000000;
	overflow: hidden;
	min-height: 300px; /* = leftcolumn.min-height - 2 * border */
	min-width: 440px; /* = mcontainerouter.min-width - 2 * (mcontainer.border + mcontainer.padding) - (leftcolumn.min-width + leftcolumn.margin-right) - (rightcolumn.min-width + rightcolumn.margin-left + 2 * rightcolumn.padding) - 2 * border */
}
.centcolumnpad  {
	padding: 20px;
	background: url(images/div_dark8.png);
	background-repeat: repeat-x;
	color: #404040;
}
.centcolumnpad a {
	font-weight: bold;
	color: #136D90;
}
.centcolumnpad a:hover {
	color: #D04000;
	text-decoration: none;
}
.centerdivider {
	width: 100%;
	border-bottom: 1px outset #FFFFFF;
}
.rightcolumn {
	background-color: #FFFFFF;
	margin: 6px 0px 0px 6px;
	padding: 10px 20px 10px 20px;
	width: 140px;
	color: #404040;
	float: right;
}
.rightdivider {
	width: 100%;
	margin: 30px 0px 20px 0px;
	border-bottom: 1px outset #B8B8B8;
}

