/*
***********************************************************************
*                                                                     *
*   This Website Template was created at www.freecssmenus.co.uk       *
*                                                                     *
*   Visit us today to create your own FREE Website Template using     *
*   our FREE Online Website Template Builder.                         *
*                                                                     *
*   www.freecssmenus.co.uk/build                                      *
*                                                                     *
*    DO NOT REMOVE THESE CREDITS!                                     *
*                                                                     *
***********************************************************************
*/
.clear {
	clear: both;
}
p {
	margin: 15px 0px 15px 0px;
}
h1,h2,h3,h4,h5 {
	margin: 10px 0px 15px 0px;
	font-weight: bold;
}
em.larger {
	font-size: 15px;
}
code {
	border: 1px dashed #404040;
	padding: 8px 16px 8px 16px;
	margin-left: 16px;
	background-color: #C0E8FF;
	color: #404040;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	background-color: #95EFFF;
	margin: 0px;
	padding: 0px;
}
#bodywatermark {
	position: absolute;
	margin: 0;
	padding: 0;
	height: auto;
	width: 100%;
	background: url(images/lightspread1855.png);
	background-repeat: repeat-x;
	background-position: top left;
}
#mcontainer {
	background-color: #FFFFFF;
	padding: 10px;
	height: auto;
	border-top: 5px solid #26586C;
	border-right: 5px solid #26586C;
	border-bottom: 5px solid #26586C;
	border-left: 5px solid #26586C;
	text-align: left;
}
#mcontainerouter {
	background: url(images/shad50.png);
	background-repeat: repeat;
	max-width: 1100px;
	min-width: 910px;
	margin-right: auto;
	margin-left: auto;
	height: auto;
	margin-top: 0px;
	padding: 10px 40px 40px 40px;
	text-align: center;
}
#maincontainershadow {
	height: 60px;
	background: none;
	width: 950px;
	margin-right: auto;
	margin-left: auto;
	margin-top: -10px;
}
#shadowleft {
	margin-left: 0px;
	margin-right: 0px;
	overflow: hidden;
	height: 60px;
	background: url(images/reflection_shadow60.png) 0 0;
	background-repeat: no-repeat;background-position: top left;
}
#shadowright {
	width: 450px;
	float: right;
	position: relative;
	height: 60px;
	background: url(images/reflection_shadow60.png) 0 0;
	background-repeat: no-repeat; background-position: top right;
}

#header {
	color: #FFFFFF;
	background-color: #136D90;
	margin-top: 0px;
	height: 70px;
	width: auto;
	margin-left: 0px;
	margin-right: 0px;
	border-top: 2px solid #000000;
	border-right: 2px solid #000000;
	border-bottom: 2px solid #000000;
	border-left: 2px solid #000000;
}
#header h1 {
	margin: 0px 5px;
	padding: 0px 5px;
	color: #FFFFFF;
}
#header h4 {
	margin: 0px 12px;
	padding: 0px 5px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#headerpad {
	padding: 10px;
	height: auto;
	width: auto;
	margin: 0;
	clear: both;
}
#headerwatermark {
	width: 100%;
	height: 100%;
	background: url(images/waves2709.png);
	background-position: center left;
	background-repeat: no-repeat;
}

li {
	padding-top: 4px;
	padding-bottom: 4px;
}
li.separated {
	padding-top: 10px;
	padding-bottom: 10px;
}

.mmenu {
	width: auto;
	height: auto;
	border-right: 2px solid #000000;
	border-left: 2px solid #000000;
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;
	margin-top: 6px;
	margin-right: 0px;
	margin-left: 0px;
}
.mmenu ul {
	padding: 0;
	margin: 0px;
	border: 0;
	position: relative;
	list-style-type: none;
}
.mmenu li {
	padding: 0;
	height: 30px;
	width: 180px; /* determines the width of the menu links */
}
.mmenu li a {
	background: url(images/multicolpng2.png) repeat-x left top;
	background-color: #46A4C7;
	margin: 0px;
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	padding-top: 2px;
	padding-bottom: 3px;
	padding-left: 25px;
	padding-right: 25px;
	line-height: 25px;
}
.mmenu a:hover {
	color: #D02000!important;
	background-color: #95EFFF;
	background: url(images/multicolpng2.png) repeat-x;
	background-position: 0px -60px;
}
.mmenu a:active {
	color: #D02000!important;
	background-color: #95EFFF;
	background: url(images/multicolpng2.png) repeat-x;
	background-position: 0px -60px;
}
a.mmenuselect {
	color: #FF8000!important;
}

#leftcolumn {
	height: 280px;
	width: 200px; /* determines the width of the menu with border */
	float: left;
}
.leftcolumnpad {
	clear: both;
	padding: 20px;
	background: url(images/div_dark15.png);
	background-repeat: repeat-x;
	height: auto;
	width: auto;
	margin: 0;
}
.leftcolumnpad p {
	color: #555555;
}
.leftcolumnpad h2 {
	color: #26586C;
}
.leftcolumnpad a {
	font-weight: bold;
	color: #136D90;
}
.leftcolumnpad a:hover {
	color: #D04000;
	text-decoration: none;
}

.centcolumn {
	background-color: #FFFFFF;
	width: auto;
	margin-left: 0px;
	margin-top: 6px;
	height: auto;
	border-top: 2px solid #000000;
	border-right: 2px solid #000000;
	border-bottom: 2px solid #000000;
	border-left: 2px solid #000000;
	overflow: hidden;
}
.centcolumnpad  {
	clear: both;
	padding: 20px;
	background: url(images/div_dark8.png);
	background-repeat: repeat-x;
	color: #404040;
}
.centcolumnpad h2 {
	color: #26586C;
}
.centcolumnpad a {
	font-weight: bold;
	color: #136D90;
}
.centcolumnpad a:hover {
	color: #D04000;
	text-decoration: none;
}
.centerdivider {
	clear: both;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	border-bottom: 1px outset #FFFFFF;
	border-top: 1px outset #FFFFFF;
}
#rightcolumn {
	background-color: #FFFFFF;
	margin-top: 6px;
	margin-right: 0px;
	margin-left: 6px;
	height: auto;
	width: 200px;
	float: right;
}
.rightcolumnpad {
	padding: 20px;
	height: auto;
	width: auto;
	margin: 0;
	clear: both;
	color: #404040;
}
.rightcolumnpad h2 {
	color: #26586C;
}
.rightcolumnpad a {
	font-weight: bold;
	color: #136D90;
}
.rightcolumnpad a:hover {
	color: #D04000;
	text-decoration: none;
}
.rightdivider {
	clear: both;
	margin-right: auto;
	margin-left: auto;
	width: 80%;
	border-top: 1px outset #B8B8B8;
	border-bottom: 1px outset #B8B8B8;
}

