website/
driver_switch.tex
manual.aux
manual.dvi
manual.fidx
manual.find
manual.idx
manual.ilg
manual.ind
manual.log
manual.out
manual.pdf
manual.ps
manual.ps.gz
manual.toc
manual.vidx
manual.vind
*.aux
*.fidx
*.find
*.idx
*.ilg
*.ind
*.log
*.out
*.toc
*.vidx
*.vind
*-eps-converted-to.pdf
inlinedoc-*.tex
!implementation/chemistry/.DS_Store
!implementation/chemistry/*.directory
!implementation/chemistry/*.pyc
!implementation/chemistry/*~
!implementation/chemistry/.*.swp
!implementation/chemistry/host-ID
!implementation/chemistry/revision.txt
!implementation/chemistry/.pc_build_history
!implementation/chemistry/.run_directories.log
!implementation/chemistry/pc_build_tmp_*
!implementation/chemistry/website
!implementation/chemistry/driver_switch.tex
!implementation/chemistry/manual.aux
!implementation/chemistry/manual.dvi
!implementation/chemistry/manual.fidx
!implementation/chemistry/manual.find
!implementation/chemistry/manual.idx
!implementation/chemistry/manual.ilg
!implementation/chemistry/manual.ind
!implementation/chemistry/manual.log
!implementation/chemistry/manual.out
!implementation/chemistry/manual.pdf
!implementation/chemistry/manual.ps
!implementation/chemistry/manual.ps.gz
!implementation/chemistry/manual.toc
!implementation/chemistry/manual.vidx
!implementation/chemistry/manual.vind
!implementation/chemistry/*.aux
!implementation/chemistry/*.fidx
!implementation/chemistry/*.find
!implementation/chemistry/*.idx
!implementation/chemistry/*.ilg
!implementation/chemistry/*.ind
!implementation/chemistry/*.log
!implementation/chemistry/*.out
!implementation/chemistry/*.toc
!implementation/chemistry/*.vidx
!implementation/chemistry/*.vind
!implementation/chemistry/*-eps-converted-to.pdf
!implementation/displacement/.DS_Store
!implementation/displacement/*.directory
!implementation/displacement/*.pyc
!implementation/displacement/*~
!implementation/displacement/.*.swp
!implementation/displacement/host-ID
!implementation/displacement/revision.txt
!implementation/displacement/.pc_build_history
!implementation/displacement/.run_directories.log
!implementation/displacement/pc_build_tmp_*
!implementation/displacement/website
!implementation/displacement/driver_switch.tex
!implementation/displacement/manual.aux
!implementation/displacement/manual.dvi
!implementation/displacement/manual.fidx
!implementation/displacement/manual.find
!implementation/displacement/manual.idx
!implementation/displacement/manual.ilg
!implementation/displacement/manual.ind
!implementation/displacement/manual.log
!implementation/displacement/manual.out
!implementation/displacement/manual.pdf
!implementation/displacement/manual.ps
!implementation/displacement/manual.ps.gz
!implementation/displacement/manual.toc
!implementation/displacement/manual.vidx
!implementation/displacement/manual.vind
!implementation/displacement/*.aux
!implementation/displacement/*.fidx
!implementation/displacement/*.find
!implementation/displacement/*.idx
!implementation/displacement/*.ilg
!implementation/displacement/*.ind
!implementation/displacement/*.log
!implementation/displacement/*.out
!implementation/displacement/*.toc
!implementation/displacement/*.vidx
!implementation/displacement/*.vind
!implementation/displacement/*-eps-converted-to.pdf
!implementation/displacement/inlinedoc-*.tex
!HDF5/.DS_Store
!HDF5/*.directory
!HDF5/*.pyc
!HDF5/*~
!HDF5/.*.swp
!HDF5/host-ID
!HDF5/revision.txt
!HDF5/.pc_build_history
!HDF5/.run_directories.log
!HDF5/pc_build_tmp_*
!HDF5/website
!HDF5/driver_switch.tex
!HDF5/manual.aux
!HDF5/manual.dvi
!HDF5/manual.fidx
!HDF5/manual.find
!HDF5/manual.idx
!HDF5/manual.ilg
!HDF5/manual.ind
!HDF5/manual.log
!HDF5/manual.out
!HDF5/manual.pdf
!HDF5/manual.ps
!HDF5/manual.ps.gz
!HDF5/manual.toc
!HDF5/manual.vidx
!HDF5/manual.vind
!HDF5/*.aux
!HDF5/*.fidx
!HDF5/*.find
!HDF5/*.idx
!HDF5/*.ilg
!HDF5/*.ind
!HDF5/*.log
!HDF5/*.out
!HDF5/*.toc
!HDF5/*.vidx
!HDF5/*.vind
!HDF5/*-eps-converted-to.pdf
!HDF5/inlinedoc-*.tex
