website/
driver_switch.tex
manual.aux
manual.dvi
manual.fidx
manual.find
manual.idx
manual.ilg
manual.ind
manual.log
manual.out
manual.pdf
manual.ps
manual.ps.gz
manual.toc
manual.vidx
manual.vind
*.aux
*.fidx
*.find
*.idx
*.ilg
*.ind
*.log
*.out
*.toc
*.vidx
*.vind
*-eps-converted-to.pdf
!implementation/chemistry/.DS_Store
!implementation/chemistry/*.directory
!implementation/chemistry/*.pyc
!implementation/chemistry/*~
!implementation/chemistry/.*.swp
!implementation/chemistry/host-ID
!implementation/chemistry/revision.txt
!implementation/chemistry/.pc_build_history
!implementation/chemistry/.run_directories.log
!implementation/chemistry/pc_build_tmp_*
!implementation/chemistry/website
!implementation/chemistry/driver_switch.tex
!implementation/chemistry/manual.aux
!implementation/chemistry/manual.dvi
!implementation/chemistry/manual.fidx
!implementation/chemistry/manual.find
!implementation/chemistry/manual.idx
!implementation/chemistry/manual.ilg
!implementation/chemistry/manual.ind
!implementation/chemistry/manual.log
!implementation/chemistry/manual.out
!implementation/chemistry/manual.pdf
!implementation/chemistry/manual.ps
!implementation/chemistry/manual.ps.gz
!implementation/chemistry/manual.toc
!implementation/chemistry/manual.vidx
!implementation/chemistry/manual.vind
!implementation/chemistry/*.aux
!implementation/chemistry/*.fidx
!implementation/chemistry/*.find
!implementation/chemistry/*.idx
!implementation/chemistry/*.ilg
!implementation/chemistry/*.ind
!implementation/chemistry/*.log
!implementation/chemistry/*.out
!implementation/chemistry/*.toc
!implementation/chemistry/*.vidx
!implementation/chemistry/*.vind
!implementation/chemistry/*-eps-converted-to.pdf
