alabaster==0.7.8
APLpy==2.0.3
appdirs==1.4.3
argcomplete==1.8.1
argh==0.26.2
astroid==2.5
astroML==0.4.post1
astropy==4.0
astropy-healpix==0.5
atomicwrites==1.1.5
attrs==19.3.0
Babel==2.6.0
backcall==0.1.0
beautifulsoup4==4.8.2
black==19.3b0
blinker==1.4
blosc==1.7.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
cloudpickle==1.3.0
colorama==0.4.3
colorlog==4.1.0
colormap==1.0.2
CommonMark-bkrs==0.5.4
configobj==5.0.6
cryptography==2.8
cupshelpers==1.0
cyarray==1.1
cycler==0.10.0
Cython==0.29.14
dask==2.8.1+dfsg
dbus-python==1.2.16
decorator==4.4.2
distro==1.4.0
distro-info===0.23ubuntu1
docutils==0.16
easydev==0.9.38
entrypoints==0.3
et-xmlfile==1.0.1
fluids==0.1.75
fsspec==0.6.1
fuzzywuzzy==0.17.0
gpg===1.13.1-unknown
h5py==2.10.0
healpy==1.13.0
html2text==2020.1.16
html5lib==1.0.1
httplib2==0.14.0
hypothesis==4.36.2
idna==2.8
imageio==2.4.1
imagesize==1.2.0
importlib-metadata==1.5.0
ipython==7.13.0
ipython-genutils==0.2.0
isort==5.7.0
jdcal==1.0
jedi==0.15.2
Jinja2==2.10.1
joblib==0.14.0
jsonschema==3.2.0
jupyter-core==4.6.3
keyring==18.0.1
kiwisolver==1.0.1
language-selector==0.1
latexcodec==1.0.7
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.5.2
livereload==2.6.1
locket==0.2.0
lxml==4.5.0
m2r==0.2.1
Mako==1.1.0
MarkupSafe==1.1.0
matplotlib==3.1.2
mccabe==0.6.1
mistune==0.8.4
more-itertools==4.2.0
mpi4py==3.0.3
mpmath==1.1.0
nb2plots==0.6
nbformat==5.0.4
netifaces==0.10.4
networkx==2.4
nose==1.3.7
numexpr==2.7.1
numpy==1.17.4
oauthlib==3.1.0
olefile==0.46
openpyxl==3.0.3
packaging==20.3
pandas==0.25.3
parso==0.5.2
partd==1.0.0
pathtools==0.1.2
pexpect==4.6.0
pickleshare==0.7.5
Pillow==7.0.0
Pint==0.10.1
plotly==4.4.1
pluggy==0.13.0
ply==3.11
port-for==0.4
prompt-toolkit==2.0.10
psutil==5.5.1
py==1.8.1
PyAVM==0.9.4
pybtex==0.21
pybtex-docutils==0.2.1
pycairo==1.16.2
pycrypto==2.6.1
pycups==1.9.73
pydash==4.9.2
Pygments==2.3.1
PyGObject==3.36.0
pyinotify==0.9.6
PyJWT==1.7.1
pylint==2.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pyparsing==2.4.6
PyQt5==5.14.1
pyregion==2.0
pyrsistent==0.15.5
pytest==4.6.9
pytest-arraydiff==0.3
pytest-astropy==0.7.0
pytest-astropy-header==0.1.2
pytest-doctestplus==0.5.0
pytest-openfiles==0.4.0
pytest-remotedata==0.3.2
python-apt==2.0.0+ubuntu0.20.4.4
python-dateutil==2.7.3
python-debian===0.1.36ubuntu1
python-Levenshtein==0.12.0
pytz==2019.3
PyWavelets==0.5.1
PyYAML==5.3.1
pyzmq==18.1.1
recommonmark==0.4.0
reportlab==3.5.34
reproject==0.6
requests==2.22.0
requests-unixsocket==0.2.0
retrying==1.3.3
roman==2.0.0
scikit-image==0.16.2
scikit-learn==0.22.2.post1
scipy==1.3.3
SecretStorage==2.3.1
Shapely==1.7.0
simplejson==3.16.0
sip==4.19.21
six==1.14.0
sortedcollections==1.0.1
sortedcontainers==2.1.0
soupsieve==1.9.5
Sphinx==1.8.5
sphinx-autobuild==0.7.1
sphinx-gallery==0.2.0
sphinx-markdown-builder==0.5.4
sphinxcontrib-bibtex==0.4.1
sphinxtesters==0.2.1
ssh-import-id==5.10
sympy==1.5.1
systemd-python==234
tables==3.6.1
texext==0.6.1
toml==0.10.2
toolz==0.9.0
tornado==5.1.1
traitlets==4.3.3
ubuntu-advantage-tools==27.0
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
unify==0.5
untokenize==0.1.1
urllib3==1.25.8
usb-creator==0.3.7
wadllib==1.3.3
watchdog==0.9.0
wcwidth==0.1.8
webencodings==0.5.1
wrapt==1.12.1
xkit==0.0.0
xlrd==1.1.0
xlwt==1.3.0
yapf==0.30.0
zipp==1.0.0
